//
// PLACE ANY BUILD DEFINITIONS IN THIS FILE AND THEY WILL BE 
// PICKED UP DURING THE APP BUILD FOR YOUR MODULE
//

FRAMEWORK_SEARCH_PATHS=$(SRCROOT)/../../modules/iphone/itk.instabug/1.1.1/platform/iphone /Library/Application\ Support/Titanium/modules/iphone/itk.instabug/1.1.1/platform/iphone ~/Library/Application\ Support/Titanium/modules/iphone/itk.instabug/1.1.1/platform/iphone

OTHER_LDFLAGS =$(inherited) /usr/lib/libc++.dylib /usr/lib/libc++.dylib -framework Instabug -framework Foundation -framework QuartzCore -framework SystemConfiguration -framework CoreMotion -framework CoreTelephony -framework AudioToolbox -framework QuartzCore -framework UIKit -framework MessageUI -framework OpenGLES -framework GLKit -framework CoreGraphics
